.modal{
  display: none;
  position: fixed;
  background-color: rgba(18, 23, 118, 0.795);
  backdrop-filter: blur(10px);
  width: 100vw;
  min-height: 100vh;
  z-index: 3;
  transition: all 0.8s;
}

.modal > div{
  background-image: $gradient-bg-5;
  box-shadow: 5px -5px 10px rgba(28, 28, 93, 0.482);
  z-index: 4;
  position: fixed;
  top: 25%;
  left: 25%;
  min-height: 50vh;
  width: 50vw;
  padding-block: 2rem;
  padding-inline: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 4rem;
  border-radius: 20px;
}

.modal-enigme > div{
  justify-content: start !important;
}

.modal .modal-title {
  text-decoration: underline;
  text-transform: uppercase;
  font-family: $beyno;
  text-align: center;
}

.modal-title-enigme{
  margin-top: 1.5em;
  font-size: 1.2em;
  max-width: 250px;
  text-decoration: none !important;
  font-family: $cantarell !important;
}

.modal .modal-text {
  width: 70%;
  height: 25%;
  text-align: center;
}

.modal .modal-btn {
  text-decoration: none;
  border-radius: 20px;
  background: $secondary-light;
  color: $primary-dark;
  padding: 1rem 1.5rem;
  font-family: $cantarell;
  font-weight: bold;
  text-transform: uppercase;
  padding-inline: 5rem;
  border: none;
  transition: all 0.2s;
}

.modal-btn-enigme {
  font-size: 0.8em;
  padding-inline: 3.5rem !important;

}

.modal .modal-btn:hover {
  background: $primary-dark;
  color: $secondary-light;
  cursor: pointer;
}

.countdown{
  flex-direction: column;
  align-items: start;
}

.count{
  font-size: 30px;
}