// Couleurs
$white: #ffffffa8;

$primary: #3D2DA6;
$primary-light: #07338C;
$primary-dark: #021740;

$secondary: #DF99F2;
$secondary-light: #F2CEF2;
$secondary-dark: #9E91B7;

$gradient-bg-1: radial-gradient(circle, rgb(6, 14, 31) 45%, rgba(2,23,64,1) 88%, rgba(17,33,63,1) 100%);
$gradient-bg-2: linear-gradient(180deg, #3D2DA6 100%, #021740 100%);
$gradient-bg-3: linear-gradient(180deg, rgba(81, 66, 180, 0.664) 5%, rgba(3, 21, 55, 0.24) 30%, rgb(2, 23, 64) 60%);
$gradient-bg-4: linear-gradient(180deg, rgb(255, 255, 255),rgba(255, 255, 255, 0)35%, ),
                linear-gradient(180deg,  rgb(158, 145, 183) 50%,rgba(61, 45, 166, 0),);
$gradient-bg-5: linear-gradient(180deg, rgb(179, 149, 242),rgba(255, 255, 255, 0)35%, ),
                linear-gradient(180deg,  rgb(84, 78, 175) 50%,rgba(85, 68, 198, 0),);

// Polices
@font-face {
  font-family: 'beyno';
  src: url('../fonts/beyno/BEYNO.otf'), 
  url('../fonts/beyno/BEYNO.ttf');
}
$beyno: 'beyno';

@font-face {
  font-family: 'cantarell';
  src: url('../fonts/Cantarell/Cantarell-Regular.ttf');
}
$cantarell: 'cantarell';

@font-face {
  font-family: 'panthera';
  src: url('../fonts/Panthera/PantheraRegular-MVZ9J.ttf');
}
$panthera: 'panthera';

@font-face {
  font-family: 'wakanda';
  src: url('../fonts/wakanda_forever/WakandaForever-Regular.ttf');
}
$wakanda: 'wakanda';